@import '../../styles/customMediaQueries.css';

.root {
  min-width: 0;
  overflow-x: hidden;
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 0 24px;

  @media (--viewportMedium) {
    margin-top: 72px;
    margin-bottom: 48px;
    padding: 0;
  }
}

.error,
.noProducts {
  text-align: center;
  padding: 48px 24px;
  color: var(--colorGrey500);

  @media (--viewportMedium) {
    padding: 72px 24px;
  }
}

.error {
  color: var(--colorFail);
}
