@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 20px;
  margin-bottom: 24px;
  border-radius: var(--borderRadiusMedium);
  background-color: var(--colorGrey50);
  border: 1px solid var(--colorGrey200);

  @media (--viewportMedium) {
    padding: 24px 28px;
  }
}

.heading {
  composes: h4 from global;
  margin: 0;
}

.body {
  composes: textSmall from global;
  color: var(--colorGrey600);
  margin: 0 0 8px 0;
}

.cta {
  composes: buttonPrimary from global;
  display: inline-flex;
  align-self: flex-start;
  width: auto;
  padding: 0 24px;
  min-height: 40px;
}
